<nav class="primary-navlist" role="navigation">
  <ul>
    <li><a href="{{ root_url }}/" itemprop="relatedLink">home</a></li>
    <li><a href="{{ root_url }}/blog/" itemprop="relatedLink">blog</a></li>
    <li><a href="{{ root_url }}/octoburn/" itemprop="relatedLink">octoburn</a></li>
    <li>
      <div class="slide">about</div>
      <ul>
        <li><a href="{{ root_url }}/faq" itemprop="relatedLink">faq</a></li>
        <li><a href="{{ root_url }}/publications" 
               itemprop="relatedLink">publications</a></li>
      </ul>
    </li>
  </ul>
</nav>
