$header-bg             : #1d2f2b;
$title-color           : #f2f2f2;
$subtitle-color        : lighten($header-bg, 65);

$text-color            : #222;
$content-bg            : #fafafa;

$link-color            : #219cba; // good color, keep
$link-color-visited    : #19778f; // good color, keep (#527e89)
$link-color-hover      : #88563f; // awful, has to go!

$credits-bg            : desaturate(lighten($header-bg, 18), 10);
$credits-border-top    : lighten($credits-bg, 15);
$credits-border-bottom : darken($credits-bg, 15);

$article-title-link-color       : #577b84;
$article-title-link-hover-color : #378ea4;
$date-color                     : #a9c4cb;

$aside-bg           : #d1dcd9;
$aside-color        : change-color(mix($text-color, $aside-bg, 80), 
                                   $hue: hue($aside-bg), 
                                   $saturation: saturation($aside-bg)/2);

$aside-link-color       : $link-color-visited;
$aside-link-color-hover : $link-color;

