.sans  { font-family : Ubuntu, $sans;      }
.serif { font-family : Quando, $serif;     }
.mono  { 
  font-family : PT+Mono, $mono;
  @include adjust-font-size-to(.9*$base-font-size);
}

.meta { @include adjust-font-size-to(.9*$base-font-size); }

