/* line 3, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.sans, .main, .aside {
  font-family: Ubuntu, Trebuchet MS, Arial, sans-serif;
}

/* line 7, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.serif, .header, .nav, #blog-index .main-content > .content > footer {
  font-family: Quando, Georgia, Times, Times New Roman, serif;
}

/* line 11, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.mono, .code_cl {
  font-family: UbuntuMono, Menlo, Monaco, lucida console, Courier New, monospace;
}

/* line 14, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.meta {
  font-size: .85em;
}

/* line 18, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.bullet {
  content: '\2022';
  padding: 0 .4em;
  display: inline-block;
}

/* line 24, /Users/hholz/coding/ruby/integrating/sass/design/_typography.scss */
.flex-content {
  max-width: 100%;
  height: auto;
}

/* line 61, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.3em;
}

/* line 19, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h1 {
  font-size: 2em;
  line-height: 1.3em;
}

/* line 21, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h2, section h1 {
  font-size: 1.6em;
  line-height: 1.21875em;
}

/* line 24, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
.pullquote-right:before,
.pullquote-left:before {
  font-size: 1.4em;
  line-height: 1.39286em;
}

/* line 26, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
aside h1 {
  font-size: 1.17em;
  line-height: 1.66667em;
}

/* line 29, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h3,
section h2,
section section h1 {
  font-size: 1.3em;
  line-height: 1.5em;
}

/* line 33, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h4,
section h3,
section section h2,
section section section h1 {
  font-size: 1.3em;
  line-height: 1.5em;
}

/* line 35, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
big {
  font-size: 1.2em;
  line-height: 1.625em;
}

/* line 41, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h5,
section h4,
section section h3,
section section section h2,
section section section section h1 {
  font-size: 1.1em;
  line-height: 1.77273em;
}

/* line 47, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
h6,
section h5,
section section h4,
section section section h3,
section section section section h2,
section section section section section h1 {
  font-size: 1.1em;
  line-height: 1.77273em;
}

/* line 49, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
.mono, .code_cl {
  font-size: 0.95em;
  line-height: 1.36842em;
}

/* line 51, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
.nav, #blog-index .main-content > .content > footer {
  font-size: 0.9em;
  line-height: 1.44444em;
}

/* line 52, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
aside {
  font-size: 0.9em;
  line-height: 1.3em;
}

/* line 54, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
.meta {
  font-size: 0.85em;
  line-height: 1.52941em;
}

/* line 56, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
sup, sub {
  font-size: 0.8em;
  line-height: 1.625em;
}

/* line 57, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
small {
  font-size: 0.8em;
  line-height: 1.625em;
}

/* line 59, /Users/hholz/coding/ruby/integrating/sass/design/_vertical.scss */
fieldset {
  border-style: solid;
  border-width: 1px;
  padding: 17px;
}

/* line 20, /Users/hholz/coding/ruby/integrating/sass/design/_grid-geometry.scss */
body > div {
  margin: 0;
}
@media (max-width: 35em) {
  /* line 20, /Users/hholz/coding/ruby/integrating/sass/design/_grid-geometry.scss */
  body > div {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 38, /Users/hholz/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  body > div:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 35em) and (max-width: 52.5em) {
  /* line 20, /Users/hholz/coding/ruby/integrating/sass/design/_grid-geometry.scss */
  body > div {
    width: auto;
  }
}
@media (min-width: 52.5em) {
  /* line 20, /Users/hholz/coding/ruby/integrating/sass/design/_grid-geometry.scss */
  body > div {
    width: auto;
  }
}

/* line 6, /Users/hholz/coding/ruby/integrating/sass/design/_design.scss */
.main-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 5, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 10, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > ul > li {
  margin: 0 0 1.2em;
}
/* line 16, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > ul > li > article > header > h1 {
  padding-left: 1em;
}
/* line 19, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > ul > li > article > p {
  margin: .3em 0 0 2em;
}
/* line 25, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > footer {
  text-align: center;
}
/* line 29, /Users/hholz/coding/ruby/integrating/sass/page/_blog-index.scss */
#blog-index .main-content > .content > footer a {
  text-decoration: none;
}
