$aside-border    : desaturate(darken($aside-bg, 7), 10);

.aside-base {

  @extend .aside; 
  color            : $aside-color;
  text-shadow      : lighten($aside-bg, 8) 0 1px;
  background-color : $aside-bg;
  border-color     : $aside-border;

  aside { 

    h1 { 
      margin  : 0;
      padding : $aside-right-gutter 0 0;
      @include at-breakpoint($horizontal-aside-layout) { padding : 0; }
    }

    ul { 
      list-style : none;
      margin     : 0 0 0 1em;
      padding    : 0;

      li { 
        margin  : 0;
        padding : 0 0 .1em;
        a {
          @include force-wrap;
          @include nav-link($resting   : $aside-link-color, 
                            $activated : $aside-link-color-hover);
        } // a
      }
    }

  } // aside
}
