$aside-border    : desaturate(darken($aside-bg, 7), 10);

.aside-base {

  @extend .aside; 
  color            : $aside-color;
  text-shadow      : lighten($aside-bg, 8) 0 1px;
  background-color : $aside-bg;
  border-color     : $aside-border;

  aside { 

    h1 { 
      margin  : 0;
      padding : $vertical-layout-gutter 0 .67*$vertical-layout-gutter;
      @include at-breakpoint($horizontal-aside-layout) { 
        padding : 0 0 .67*$horizontal-aside-gutter;
      }
      @include at-breakpoint($aside-right-layout) { 
        padding : $aside-right-gutter 0 .67*$aside-right-gutter;
      }
    }

    ul { 
      list-style : none;
      margin     : 0 0 0 1em;
      padding    : 0;

      li { 
        margin  : 0;
        padding : 0 0 .5*$vertical-layout-gutter;
        @include at-breakpoint($horizontal-aside-layout) { 
          padding : 0 0 .5*$horizontal-aside-gutter;
        }
        @include at-breakpoint($aside-right-layout) { 
          padding : 0 0 .5*$aside-right-gutter;
        }
        a {
          @include force-wrap;
          @include nav-link($resting   : $aside-link-color, 
                            $activated : $aside-link-color-hover);
        } // a
      }
    }

  } // aside
}
