$sans  : Trebuchet MS, Arial, sans-serif;
$serif : Georgia, Times, Times New Roman, serif;
$mono  : Menlo, Monaco, lucida console, Courier New, monospace;

.sans  { font-family : $sans;  }
.serif { font-family : $serif; }
.mono  { font-family : $mono;  }

