.header {
  @extend .serif; 
  a { font-weight : normal; }
}
header { @extend .header; }

header, hgroup, footer { display : block; }

h1, h2, h3, h4, h5, h6 { 
  @extend .header; 
  text-rendering : optimizelegibility; 
}

h1 { 
  @include adjust-font-size-to(2*$base-font-size); 
}
h2, section h1 { 
  @include adjust-font-size-to(1.6*$base-font-size); 
}
h3, section h2, section section h1 {
  font-variant : small-caps;
  @include adjust-font-size-to(1.3*$base-font-size); 
}
h4, section h3, section section h2, section section section h1 {
  font-variant : normal;
  @include adjust-font-size-to(1.3*$base-font-size); 
}
h5, section h4, section section h3, section section section h2, 
section section section section h1 {
  font-variant : small-caps;
  @include adjust-font-size-to(1.1*$base-font-size); 
}
h6, section h5, section section h4, section section section h3, 
section section section section h2, section section section section section h1 {
  font-variant : normal;
  font-style  : italic;
  @include adjust-font-size-to(1.1*$base-font-size); 
}

header, h1, h2, h3, h4, h5, h6 { 
  pre &, code &, kbd &, var &, tt &, samp & { @extend .code_cl; }
  aside & { @extend .header; }
  menu &, nav & { @extend .nav; }
}

.meta { @include adjust-font-size-to(.85*$base-font-size); }
time { @extend .meta; }
