header, hgroup, footer { display : block; }

h1, h2, h3, h4, h5, h6 { 
  margin : 0.65em 0 .35em 0;
  text-rendering : optimizeLegibility;
}

h1 { font-size : 2em; }
h2, section h1 { font-size : 1.6em; }
h3, section h2, section section h1 {
  font-variant : small-caps;
  font-size    : 1.3em;
}
h4, section h3, section section h2, section section section h1 {
  font-variant : normal;
  font-size    : 1.3em;
}
h5, section h4, section section h3, section section section h2, 
section section section section h1 {
  font-variant : small-caps;
  font-size    : 1.1em;
}
h6, section h5, section section h4, section section section h3, 
section section section section h2, section section section section section h1 {
  font-variant : normal;
  font-style   : italic;
  font-size    : 1.1em;
}

