details, 
figcaption, 
figure { // missing definitions: IE 7/8/9
  display : block;
}

figure { margin : 0; } // margin missing: IE 7/8/9, Safari 5

img {
  border : 0; // Remove border when inside `a` element: IE 7/8/9
  -ms-interpolation-mode : bicubic; // Improve image quality when scaled: IE 7
}

svg:not(:root) { overflow : hidden; } // overflow displayed oddly in IE 9

audio, 
canvas, 
video { // missing definitions: IE 7/8/9
  display  : inline-block;
  *display : inline;
  *zoom    : 1;
}

audio:not([controls]) {
  display : none; // prevent modern browsers from displaying audio without controls
  height  : 0;    // remove excess height in iOS 5 devices
}
