// this file has global typography default styles. Most default styles are
// grouped semantically by related tag, as described in _defaults.scss

html { // prevent iOS text size adjust after orientation change, 
  -webkit-text-size-adjust : 100%; // without disabling user zoom.
  -ms-text-size-adjust     : 100%;
}

body { 
  cursor  : auto !important; 
  margin  : 0;
  padding : 0;
}

b, strong { font-weight     : bold;         }
del, s    { text-decoration : line-through; }
em, dfn   { font-style      : italic;       }

small { font-size : .8em;  }
big   { font-size : 1.2em; }

sup, sub { 
  font-size : .8em;
  position : relative;
  display  : inline-block;
}
sup { top    : -.5em; }
sub { bottom : -.5em; }

[hidden] { display : none; } // attribute missing in a few browsers

