.tag-links {

  @extend .meta;
  display      : inline-block;
  padding-left : 1em; // don't run into permalink

  > ul { 
    // breaks with @include horizontal-list(.1em, right); 
    @include horizontal-list(.1em);
    @include float-right; 
    margin  : 0; 
    padding : 0; 

    > li { 
      margin : 0;

      &:after { 
        content       : ','; 
        color         : $date-color;
        padding-right : .1em;
      }
      
      &:nth-last-child(2) {
        &:after { content : none; }
      }

      &:last-child {
        &:before {
          content : 'and';
          color   : $date-color;
          padding : { left : .1em; right : .2em; }
        }

        &:after { 
          content : none; 
          padding : 0;
        }
      }

      &:first-child:before {
        content : 'posted under';
        color   : $date-color;
        padding : { left : .1em; right : .2em; }
      }

    } // > li
  } // > ul

}
